test/vectors/state-machines/accretion_builder.json
{
    "Comment": "Artifact Builder",
    "StartAt": "ParseRequirements",
    "States": {
        "ParseRequirements": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:parse-requirements",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$",
            "Next": "SelectLanguage"
        },
        "SelectLanguage": {
            "Type": "Choice",
            "InputPath": "$",
            "Choices": [
                {
                    "Variable": "$.Language",
                    "StringEquals": "python",
                    "Next": "BuildPython"
                }
            ],
            "OutputPath": "$",
            "Default": "UnknownLanguage"
        },
        "UnknownLanguage": {
            "Type": "Fail",
            "Cause": "Invalid language"
        },
        "BuildPython": {
            "Type": "Parallel",
            "InputPath": "$",
            "Branches": [
                {
                    "StartAt": "BuildPython36",
                    "States": {
                        "BuildPython36": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:build-py36",
                            "InputPath": "$",
                            "OutputPath": "$",
                            "ResultPath": "$",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "BuildPython37",
                    "States": {
                        "BuildPython37": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:build-py37",
                            "InputPath": "$",
                            "OutputPath": "$",
                            "ResultPath": "$",
                            "End": true
                        }
                    }
                }
            ],
            "OutputPath": "$",
            "ResultPath": "$.BuildResults",
            "End": true
        }
    }
}
