test/vectors/state-machines/three-tasks.json
{
    "Comment": "This is a state machine with three simple tasks.",
    "StartAt": "TaskOne",
    "States": {
        "TaskOne": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:One",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$",
            "Next": "TaskTwo"
        },
        "TaskTwo": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Two",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$",
            "Next": "TaskThree"
        },
        "TaskThree": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Three",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$",
            "End": true
        }
    }
}